<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors Lizard Spock</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="content/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <img class="float-right" src="Content/img/rpsls-rules.png" alt="An image explaining the rules to Rock Paper Scissors Lizard Spock." />
        <h1>Let's play Rock Paper Scissors Lizard Spock!</h1>
        <h4>Choose your option:</h4>
        <form action="/result" method="post">
          <input type="hidden" name="player-choice" value="0">
          <button class="rslpsbtn btn btn-primary" type="submit">Rock</button>
        </form>
        <form action="/result" method="post">
          <input type="hidden" name="player-choice" value="3">
          <button class="rslpsbtn btn btn-warning" type="submit">Paper</button>
        </form>
        <form action="/result" method="post">
          <input type="hidden" name="player-choice" value="1">
          <button class="rslpsbtn btn btn-info" type="submit">Scissors</button>
        </form>
        <form action="/result" method="post">
          <input type="hidden" name="player-choice" value="2">
          <button class="rslpsbtn btn btn-success" type="submit">Lizard</button>
        </form>
        <form action="/result" method="post">
          <input type="hidden" name="player-choice" value="4">
          <button class="rslpsbtn btn btn-danger" type="submit">Spock</button>
        </form>

        <h3 class="text-center">@Model.rslpsFight()</h3>
        <h4 class="text-center">Wins: @Model.GetPlayerOneScore() Losses: @Model.GetPlayerTwoScore()</h4>
        <div class="row">
          <div class="col-md-6">
            <p class="text-center">You chose @Model.GetChoiceOne()</p>
            <img src="@Model.rslpsImageNamer(@Model.GetChoiceOne())" alt="@Model.GetChoiceOne()" class="result-img"/>
          </div>
          <div class="col-md-6">
            <p class="text-center">The computer chose @Model.GetChoiceTwo()</p>
            <img src="@Model.rslpsImageNamer(@Model.GetChoiceTwo())" alt="@Model.GetChoiceTwo()" class="result-img"/>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
